
<div class="container-fluid" >
    <div class="row-fluid">



      <scroll></scroll>

        <div class=" move-pages">
          <!--<div class="row container">-->

            <div class="row">

                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 fixed">
                  <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1  block-head">
                    <h1 class="title">iDoc</h1>
                  </div>
                  <div class="col-md-2 col-xs-1 col-lg-2 col-sm-1   block-head-p">
                    <p class="title-doc">Система</p><br>
                    <p class="title-doc">електронного</p><br>
                    <p class="title-doc">документообігу</p>
                  </div>
                </div>


                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 first-slide new-pages">
                  <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 head-info"><h1>iDoc - система електронного документообігу</h1>
                    <p>Гнучкий інструмент для оптимізації будь-яких бізнес-процесів підприємства</p>
                  </div>




              <div id="slideShow" class="carousel slide style-carousel " data-ride="carousel">


                <!-- Wrapper for slides -->
                <div class="carousel-inner ">
                  <div class="item active slide-first">
                    <img src="../assets/images/skrin1.png" alt="iDoc">
                    <div class="carousel-caption">
                      <h3>Робота з документами з будь-якої точки світу без обмежень</h3>

                    </div>
                  </div>

                  <div class="item slide-second">
                    <img src="../assets/images/slide2.jpg" alt="iDoc">
                    <div class="carousel-caption">
                      <h3>Створюйте документи, виставляйте, делегуйте завдання та контролюйте їх виконання</h3>

                    </div>
                  </div>

                  <div class="item slide-third">
                    <img src="../assets/images/skrin3.png" alt="iDoc">
                    <div class="carousel-caption">
                      <h3>Взаємодія внутрішньої СЕД із зовнішніми сервісами, реєстрами</h3>

                    </div>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#slideShow" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#slideShow" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!-- Indicators -->
                <ol class="carousel-indicators ">
                  <li data-target="#slideShow" data-slide-to="0" class="active"></li>
                  <li data-target="#slideShow" data-slide-to="1"></li>
                  <li data-target="#slideShow" data-slide-to="2"></li>
                </ol>
              </div>



          <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 " >
          <form name="present_form" class="form-inline" id="presentation" action="/" method="post">
            <div class="row">
              <div class="col-md-3 col-xs-6 col-lg-3 col-sm-6  col-lg-offset-5 col-md-offset-5 col-xs-offset-4 col-sm-offset-3 col-xs-offset-4 contact-send" >
                <input name="email" type='email' class=" present-send-email "  value="presentation.email" ng-model="presentation.email"  placeholder="Ваш email*" required/>
              </div>
            </div>
            <div class="row">

              <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3  col-lg-offset-5 col-md-offset-5  col-xs-offset-4 col-sm-offset-4 present-send-but">
                <button class="btn btn-large btn-default but-send1" type="submit" >
                  Отримати презентацію
                </button>
              </div>
            </div>
          </form>
          </div>
          </div>                 <modal></modal>
            </div>
            </div>
            <div class="row">

                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 advantages new-pages">
                    <div >
                        <h1  class="title-h2">Переваги iDoc</h1>

                    </div>
                    <div class="row">
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 advantages-row">
                            <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1 advantages-world"></div>
                            <div class="col-md-6 col-xs-2 col-lg-6 col-sm-3  advantages-world-p"><p>Робота з документами з будь-якої точки світу без обмежень</p></div>
                        </div>

                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
                            <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1 advantages-delegete"></div>
                            <div class="col-md-6 col-xs-2 col-lg-6 col-sm-3 advantages-delegete-p"><p>Створюйте документи, виставляйте, делегуйте завдання та контролюйте їх виконання</p></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 advantages-row">
                            <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1 advantages-sign"></div>
                            <div class="col-md-6 col-xs-2 col-lg-6 col-sm-3  advantages-sign-p"><p>Взаємодія внутрішньої СЕД із зовнішніми сервісами, реєстрами</p></div>
                        </div>
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
                            <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1 advantages-bd"></div>
                            <div class="col-md-6 col-xs-2 col-lg-6 col-sm-3 advantages-bd-p"><p>Розміщення БД на власному сервері організації та незалежність доопрацювання коду</p></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 advantages-row">
                            <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1 advantages-preferenses"></div>
                            <div class="col-md-6 col-xs-2 col-lg-6 col-sm-3 advantages-preferenses-p"><p>Шаблони документів - є гнучкими у налаштуваннях та можуть легко конструюватись під конкретні вимоги</p></div>
                        </div>
                        <div class="col-md-5 col-xs-5 col-lg-5 col-sm-5 ">
                            <div class="col-md-1 col-xs-1 col-lg-1 col-sm-1 advantages-doc"></div>
                            <div class="col-md-6 col-xs-2 col-lg-6 col-sm-3 advantages-doc-p"><p>Підписання документів персональними ЕЦП (в розробці)  </p></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row ">

                <div  class="col-md-12 col-xs-12 col-lg-12 col-sm-12 block-video new-pages">
                    <div class="col-md-5 col-xs-3 col-lg-5 col-sm-3 col-lg-offset-3 col-md-offset-2  video-text ">
                        <h2 >Просте створення документів,</h2>
                        <h2 >та відправлення їх на узгодження</h2>
                    </div>

                    <div class="col-md-4 col-xs-4 col-lg-2 col-sm-2  video-show " >
                        <iframe src="https://www.youtube.com/embed/qEdzdIt6Q48" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

            </div>

            <div class="row" >

                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 info-show new-pages" >

                    <h2 class="who-works">Як ми працюємо?</h2>

                </div>

            </div>



            <div class="row" >

                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 send new-pages" >
                    <div class="col-md-3 col-xs-2 col-lg-4 col-sm-2 col-lg-offset-3 col-md-offset-2 col-sm-offset-1  send-text" >
                        <p class="title-contact-send">Заповніть форму прямо зараз,</p>
                        <h3 class="title-contact-send">Щоб отримати консультацію</h3>
                    </div>
                  <span id="contact_ancor"></span>
                       <div class="col-md-3 col-xs-2 col-lg-3 col-sm-2 send-contact" >
                         <modal-send-task></modal-send-task>
                         <form name="send_task" class="form-horizontal" id="apply" action="/" method="post">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12  contact-send" >
                                    <h2 >Залиште заявку,</h2>
                                    <p>щоб отримати консультацію</p>
                                    <p> <input name="name" type='text' class=" present-send-names "  value=""  placeholder="Ваше ім'я*" /></p>
                                    <!--<p> <input name="company" type='text' class=" present-send-company "  value=""  placeholder="Ваша компанія*" required/></p>-->
                                    <p> <input name="phone" type='text' class=" present-send-phones"  value=""  placeholder="Ваш телефон*" /></p>
                                    <p><input name="email" type='email' class=" present-send-emails "  value=""  placeholder="Ваш email*" required/></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-xs-1 col-lg-10 col-sm-1 col-lg-offset-1 col-md-offset-1 present-send-but">
                                    <button class="btn btn-large btn-warning but-send" type="submit"  ng-click="sendMails()">Зв'яжіться зі мною</button>
                                </div>
                            </div>
                        </form>
                    </div>
               </div>


            </div>
        </div>
      <!--</div>-->

      <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 footer ">
          <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">

            <p class="title-contact-footer">© Copyright iDoc 2017</p>
          </div>
        </div>
      </div>
     </div>

</div>

